<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    
    
    <bean id="myFortuneService"
    		class="com.luv2code.springdemo.HappyFortuneService">
    </bean>
  <!-- HappyFortuneServie myFortuneService = new HappayFortuneService -->
  
  
  	<bean id="myCricketCoach"
  	class="com.luv2code.springdemo.CricketCoach"
  	>
 		<!--  Set up setter injection       Tên giống tên setter viết thường chữ đầu sau đó viết hoa -->
  		<property name = "fortuneService" ref="myFortuneService" />	
		<!-- inject literal values -->
		<property name ="emailAddress"  value="dotrunghg1999@gmail.com"  />
		<property name ="team"  value="liverpool fc"  />
  	</bean>
  	<!-- giong nhu  CricketCoach myCricketCoach = new CricketCoach(myFortuneService) -->
  	
  	
  	
  	
    <!-- khai bao trong thang my coach co contructor nhan vao thang myFortuneSerive -->
 	<bean id="myCoach"
 			class="com.luv2code.springdemo.TrackCoach">	 							
 		<constructor-arg ref="myFortuneService"/>
 	</bean>

    <!--
    <bean id="myCoach"
        class="com.luv2code.springdemo.BaseballCoach">         
    </bean>
    -->

</beans>





